#header {  }
#masthead { 
    height: 74px;
    .logo {
	width: 85px; margin: 0; position: relative;
	a {
	    display: block; width: 85px; height: 105px; position: absolute; top: 0; left: 0; text-indent: 999px; overflow: hidden; background: url('../img/logo.jpg') no-repeat 0 0 transparent;
	}
    }
    .menu {
	margin: 0; float: right; clear: right; padding-top: ((@grid-gutter-width / 2) * 3);
	li {
	    float: left; font-size: 18px; font-weight: 400;
	    & ~ li { margin-left: @grid-gutter-width; }
	    a {
		&:hover { color: @blue; }
	    }
	}
    }
}
#navbar {
    height: 31px;
    .menu {
	margin-bottom: 0;
	li {
	    font-size: 18px;
	    a {
		display: block; line-height: 30px; font-weight: 500; padding: 0 (@grid-gutter-width / 3) * 2;
	    }
	    &:hover {
		a { background: @blue; }
	    }
	}
    }
    #menu {
	ul { margin-left: 100px; }
    }
    #sidemenu {
	ul { text-align: right; }
    }
}