.item {
    color: @text-dark;
    .page-heading {
        .page-header { padding-bottom: 0; }
        .item-meta {
            .breadcrumb {
                background: transparent; padding: 0; margin-right: 25%; margin-bottom: 0;
                li {
                    a { color: @gray; }
                }
            }
            .item-date { float: right; width: 25%; text-align: right; font-size: 13px; color: @gray-light; }
        }
    }
    .item-body {
        clear: both; margin-top: (@grid-gutter-width / 2);
        a {
            color: @blue;
            &:hover { color: @blue-darker; }
        }
        figure {
            margin-bottom: @grid-gutter-width;
            img { display: block; width: 100%; height: auto; }
            figcaption { font-size: 12px; padding: (@grid-gutter-width / 2); color: #666; background: lighten(@gray-lighter, 2%); }
            & > div { height: 423px; }
        }
        .item-author {
            font-size: 18px; font-weight: 400; color: #666; margin-bottom: (@grid-gutter-width / 2);
            a:hover { color: @blue; }
        }
        .item-text {
            width: 75%;
            p {
                font-size: 18px; font-weight: 300; text-align: justify;
                &.summary { font-weight: 400; }
            }
            figure { margin-top: (@grid-gutter-width); }
        }
        blockquote.fact-corner { border-left: 0 none; margin: 0 -25% 0 0; width: 50%; float: right; }
    }
    .item-sharings {
        position: fixed; left: 100px; top: 160px; transition: top 0.35s; width: 35px;
        ul {
            list-style: none; padding: 0; margin: 0;
            li {
                &.margin-top { margin-top: @grid-gutter-width; }
                a {
                    display: block; width: 35px; height: 35px; text-align: center; line-height: 35px; font-size: 20px; background: @gray-light; border-radius: 100%; color: #fff; margin-bottom: 10px; text-shadow: 0 0 2px #777;
                    &:hover { background: @gray; }
                }
                &.facebook a { background: @facebook-color; &:hover { background: darken(@facebook-color, 10%); } }
                &.twitter a { background: @twitter-color; &:hover { background: darken(@twitter-color, 10%); } }
                &.gplus a { background: @gplus-color; &:hover { background: darken(@gplus-color, 10%); } }
                &.pinterest a { background: @pinterest-color; &:hover { background: darken(@pinterest-color, 10%); } }
                &.reddit a { background: @reddit-color; text-indent: -2px; &:hover { background: darken(@reddit-color, 10%); } }
                /*&.facebook a { background: @facebook-color; &:hover { background: darken(@facebook-color, 10%); } }*/
            }
        }
    }
    .item-tools {
        list-style: none; padding: 0; width: 20%; float: right;
        li {
            &.embed {
                & > div { position: relative; }
                .btn { float: right; border-radius: 0; }
                textarea { display: none; border-radius: 0; position: absolute; top: 22px; right: 0; width: 240px; height: 120px; font-size: 12px; }
            }
        }
    }
}
.item-gallery {
    position: relative;
    .next, .prev {
        position: absolute; font-family: 'icon'; color: #fff; text-shadow: 0 0 3px @gray; top: 50%; width: 40px; height: 40px; text-align: center; display: block; line-height: 40px; font-size: 40px; margin-top: -55px; z-index: 100; left: 0; cursor: pointer; transition: 0.2s all;
        &:hover { color: @gray-light; }
    }
    .next { left: auto; right: 0; }

}