.wrapper, .panel {
    &._black { background: @black; color: #fff; }
    &._graylighter { background: @gray-lighter; }
    &._graylight { background: @gray-light; }
    &._gray { background: @gray-darker; color: #fff; }
    &._navy { background: @navy; color: #fff; }
}
#main {
    .wrapper {
        padding: @grid-gutter-width 0;
    }
}
#header-items {
    padding: (@grid-gutter-width) 0;
    /*background: @gray-lighter;*/
}