html, body { font-family: 'Roboto', Arial, sans-serif; }
a {
    transition: 0.2s all; color: @text-color;
    &:hover, &:visited, &:active, &:focus, &:link { text-decoration: none; outline: 0 none; color: #000; }
}
label, strong, th { font-weight: 500; }
.menu {
    list-style: none; padding: 0; position: relative;
    li {
        font-size: @font-size-base;
        &.haschild {
            /*position: relative;*/
        }
        a {
            color: #fff; display: block;
            &:hover { text-decoration: none; color: @gray-lighter; }
        }
        &.rtl {
            direction: rtl; text-align: right;
        }
    }
    &.menu-inline {
        font-size: 0;
        li { display: inline-block; }
    }
}


.pagination {
    border-radius: 0;
    > li {
        > a, > span {
            border-radius: 100%; margin: 0 2px; color: @text-color; padding-left: 0; padding-right: 0; width: 34px; text-align: center;
        }
        &:first-child, &:last-child {
            > a, > span { border-radius: 100%; }
        }
    }
    > li > a, > li > span {
        &:hover, &:focus { color: #fff; background-color: @blue; border-color: transparent; }
    }
    > .active > a, > .active > span {
        &, &:hover, &:focus { color: #fff; background-color: @blue; border-color: transparent;}
    }
}

.alert {
    border-radius: 0;
    background: @gray-lighter; border: 1px solid @gray-light; color: @gray-dark;
}